In [1]:
import numpy as np
import statistics as stat
import pandas as pd

In [2]:
def test(mi):
    result= np.array([m + 3* np.random.randn() for m in mi])
    est1 = result
    mi0 = 20 * np.ones(len(mi))
    est2= mi0 + max((1-1/sum((result-mi0)**2)),0) * (result-mi0)
    return np.array([stat.mean((est1-mi)**2),stat.mean((est2-mi)**2)]).reshape(1,2)

In [12]:
experiment=np.empty([1,2])
for i in range(10*6):
    experiment=np.concatenate((experiment,test([16,18,26])))

In [19]:
df_describe = pd.DataFrame(experiment,columns=["MSE1","MSE2"])
display(df_describe.describe().loc[['mean','std',"min",'25%','50%','75%']].astype("float64").round(4))

         MSE1     MSE2
mean   9.1656   9.0690
std    7.5828   7.4725
min    0.0000   0.0000
25%    4.4003   4.2322
50%    7.6361   7.5250
75%   12.4930  12.2781